.action {

    &__btn-delete {
        border-radius: 5px;
        border: none;
        box-shadow: 2px 2px 5px #b7b7b7;
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        text-decoration: none;
        margin: 0 10px;
        background-color: #d6d6d6;
        color: #6c6c6c;
        padding: 5px 10px;
    }
}
