@blue: #4362bc;

.table {
  color: #686868;
  font-size: 14px;
  display: flex;
  flex-flow: column wrap;
  text-align: left;

  &__row, &__header {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    border-bottom: #d6d6d6 1px solid;
  }

  &__item {
    align-items: center;
    display: flex;
    height: 50px;
    padding: 10px;
    flex: 1 1 0;
    flex-flow: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__header {
    background-color: @blue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
  }
}
