.user-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;

  @media (min-width: 1024px){
    flex-direction: row;
    margin: 0;
    padding: 30px 15px;
  }

  &__form, &__user-table {
    flex-grow: 2;
    width: 100%;

    @media (min-width: 1024px){
      flex-grow: 1;
      margin: 0 1%;
      width: 45%;
    }
  }

  &__user-table {
    margin-top: 30px;

    @media (min-width: 1024px){
      margin-top: 0;
    }
  }
}
