
.subscribe-form{
  color: #6c6c6c;
  background-color: white;
  padding: 30px 40px;
  border: #e9e9e9 1px solid;
  box-shadow: 2px 2px 5px #b7b7b7;
  border-radius: 10px;

  &__form-group{
    margin: 0 0 15px;
  }

  &__btn-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 -10px;
  }

  &__title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__input {
    background-color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    border: #c2c2c2 1px solid;
    padding: 0 10px;
    color: inherit;
    font-size: 16px;

    &:active, &:focus {
      outline: none;
      border: #4362bc 1px solid;
    }
  }

  .is-invalid {
    border: #a60000 1px solid;
  }

  &__invalid-feedback {
    color: #a60000;
    font-size: 15px;
    margin: 10px 0;
  }

  .btn {
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px #b7b7b7;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    margin: 0 10px;
  }

  .btn-submit {
    background-color: #4362bc;
    color: #fff;
    padding: 10px 30px;
  }

  .btn-reset {
    background-color: #d6d6d6;
    color: #6c6c6c;
    padding: 10px 20px;
  }
}
